<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.tpmarc.arqsoft.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.tpmarc.arqsoft.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.tpmarc.arqsoft.activities.CursosActivity"
            android:label="@string/cursos" >
        </activity>
        <activity
            android:name="br.tpmarc.arqsoft.activities.ChamadasActivity"
            android:label="@string/chamadas" >
        </activity>
        <activity
            android:name="br.tpmarc.arqsoft.activities.TurmasActivity"
            android:label="@string/turmas" >
        </activity>
        <activity
            android:name="br.tpmarc.arqsoft.activities.AlunosActivity"
            android:label="@string/alunos" >
        </activity>
        <activity
            android:name="br.tpmarc.arqsoft.activities.AulasActivity"
            android:label="@string/aulas" >
        </activity>
    </application>

</manifest>
